*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.bts{
    margin: 0.5%;
}


.Header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Log-out{
    position: absolute;
    right: 0vmax;
    border-radius: 10px;
    border: 2px solid red;
    margin: 5px;
    padding: 2px;
    color: red;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.Log-out:hover{
    background-color: red;
    color: white;
    
}


.h1-title{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
}


.h2-contain{
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 
#label{
    margin-left: 28vh;
    margin-bottom: 4vh;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.606);
    text-decoration: underline 2px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.584);
} */

.navbar{
    color: lightblue;
    margin-bottom: 10%;
    
}

.navbar:hover{
    cursor:pointer;
    color: lightblue;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}



.CateLan-box{
    width: auto;
    margin-left: 30vh;
}

.CateLan-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inp{
    margin-bottom: 10px;
}

.add{
    background-color: green;
}

.delete{
    background-color: red;
}

.modify{
    background-color: blue;
}


.opt_label:hover{
    color: black;
  }
#lista-1{
    float: left;
    margin-left: 20vh;
    font-size: 25px;
    text-decoration: underline 2px;

}
#lista-1:hover{
    cursor: pointer;
}

.first-op{
    width: 100%;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
}

.opt{
    flex-direction: row;
    
}
.second-op{
    display: none;
    flex-direction: row;
}
.princ-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.delete-cont{
    display: none;
    justify-content: center;
}
.list-group:hover{
    cursor: pointer;
}
.div-1{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:10%;
    position: center;


}