*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.formulario-div{
  height: 220px;
  border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(31, 122, 218, 0.9)  ;
  
}
.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  width: auto;
}


.titulo{
  font-family: "Comic Sans MS";
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.formulario-de-registro{
  margin-top: 10px;
  height: 365px;
  width: auto;
  border: #2e5894 solid 5px;
  border-radius: 10px;
}

.formulario{

  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 60px;
  border-color: white;
  
}

.main-buttons{
  border-radius: 17px;
  border: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  background-color: #4cdd2c;
  margin-top: 5px;
  
}
.main-buttons:hover{
  background-color: rgb(46, 246, 31);
  cursor:pointer;
}
.buttons-login{
  height: 50px;
  width: 44%;
  margin: 5px;

}
.buttons-submit{
  height: 50px;
  width: 100%;
  display: flex;
}


.languages{
  width: 100%;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 160px;
  background-position-y: 50%;
  border: none;
  padding-left: 7px;
  height:40px;
  font-weight: bold;
  font-size: 17px;

}

.form-input{
  height: 50px;
  width:auto;
  margin-bottom: 4px;
  border:0;
  display: flex;
  font-size: 19px;
  color:black;
  cursor: text;
  padding-left: 7px;
  border-bottom:2px dotted black;
  background-color: #00ffff00;
  position: relative;
}


.form-input, .languages:focus{
  outline: none;
}

::placeholder{
  color: black;
  font-family: "Comic Sans MS";
  font-weight: bold;
}


html,body{
  background-color: #1199ff;

}
/*possible bg colors:
  - #2e5894
  - #2fa1da
  - #5588dd

*/



.logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
}

.logo{
  height: 175px;

}


.Body-princ{
  background: url("../resources/school2.png") right top   , url("../resources/school.png") left bottom;
  background-size:41%;
  background-repeat: no-repeat;
  background-position-y: 310px, 330px;
  min-height: 100vh;
  
}

.Register-body{
  background-image: url("../resources/books.webp");
  background-position: left;
  background-position-y: 250px;
  background-size:35%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.admin-p{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  
}

.admin-log-in{
  margin-left: 2%;
  color: rgba(0, 0, 0, 0.606);
  

  text-decoration: underline 2px;
}

.admin-log-in:hover{
  cursor: pointer;
  color: black;
}