.input-answer{
    height :5%;
    border:none; 
    border-bottom:2px dotted black;
    display: inline;
    width: 20%;
    padding: 0;
    border-radius: 0;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    
}

.input-answer:focus{
    outline: none;
  }


.paragraphs{
    display: inline;
}