.header{
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid black;
}

.logo{
    margin: 5px;
    height: 125px;
    width: auto;
    display: flex;

}

ul {
    list-style-type: none;
    margin-left: 50px;
}
 
li{
    float: left;
    margin-right: 150px;
    margin-top: 85px;
    margin-bottom: 10px;
    font-size: 30px;
    Font-family: 'JelleeBold';
    cursor:pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

li:hover{

    color: #D79700;
    top: -10px;
    

}

.Account-li{
    margin-left: 255px;
    padding-right: 0px;
    
}

.Games-display{
    display: block;
    margin: 0;
    padding: 0;
    border-right: 5px solid black;
    position: absolute;
}

.game-button{
    
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 17px;
}


.home-li{
    border-bottom: 4px solid #D79700;

}

