.header{
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid black;
}

.logo{
    margin: 2%;
    height: 100px;
    width: auto;
    display: flex;

}

.ul-nav {
    list-style-type: none;
    margin-left: 50px;
}
 
.nav-li{
    
    float: left;
    margin-right: 150px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 30px;
    Font-family: 'JelleeBold';
    cursor:pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

.nav-li:hover{

    color: #D79700;
    top: -10px;
    

}

.Account-li{
    
    padding-right: 0px;
    box-sizing: border-box;
    position: absolute;
    left: 85%;
    margin-bottom: 0;
    
}

.Games-display{
    display: block;
    margin: 0;
    padding: 0;
    
    position: absolute;
}

.game-button{
    
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 220px;
    width: 200px;
    background-color: #D79700;
    font-family: 'JelleeBold';
    font-weight: bold;
    font-size: 22px;
    padding-right: 4px;
    border-right: 5px solid black;
}


.game-button:hover{
    background-color: #ffb300;
    border-right: 5px solid #2fa1da;
}
.home-li{
    border-bottom: 4px solid #D79700;

}

.main-title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    width: auto;
    margin-left: 10%;

}