.Games-display{
    display: block;
    margin: 0;
    padding: 0;
    
    position: absolute;
}

.game-button{
    
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 220px;
    width: 200px;
    background-color: #D79700;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-right: 4px;
    border-right: 5px solid black;
}


.game-button:hover{
    background-color: #ffb300;
    border-right: 5px solid #2fa1da;
}

.main-title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    width: auto;
    margin-left: 10%;

}