/* .card {
    height: 100px;
    cursor: pointer;
  } */


.rotate{
    transition: 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    
}

.rotate-back{
    transition: 1s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.text {
    
    transform: rotateY(180deg);
    display: inline-block;
    
  }


.p-text{
  margin: 0;
  padding: 0;
}

.memo-card{
  
  background-color: rgb(0, 73, 243);
  
  border: rgba(255, 255, 255, 0.583) 2px solid;
  margin:5%;
  color: white;
  font-weight: bold;
  
  height: 40% !important;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #0022ff8a, #4d4dff88);


}

.col-3{
  width: 20% !important
  
}
.green{
  background: none;
  background-color: rgb(2, 192, 2);
  
  
}

.ftp{
  font-weight: bold;
}
  