.header{
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid rgba(0, 0, 0, 0.772);
}

.logo-img{
    margin: 1%;
    margin-left: 4%;
    width: 8%;
    height: auto;
    opacity: 95%;
    

}



.nav-li{
    
    /* float: left;
    margin-right: 150px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 35px;
    Font-family: Lato, sans-serif;
    font-weight: bold; */
    color: black;
    cursor:pointer;
    position: relative;
    top: 0;
    
    border: none;
    transition: transform 0.7s;
    
  }

.nav-li:hover{
   color: white;
   
   transform: translateY(-10px); 
   
   
   
}



.selected-li{
    /* border-bottom: 4px solid #D79700; */
    color: white;
}

.navicon{
    padding: 5px;
}